*{
    margin: 0;
    padding: 0;
}
body{
    background: white;
    height: 100vh;
    color: #000;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.crud{
    width: 80%;
    margin: auto;
}
.head{
    text-align: center;
    text-transform: uppercase;
    color: #000;
    margin: 10px 0;
}
input{
    width: 100%;
    height: 30px;
    outline: none;
    border-color: #050506;    
    margin: 4px 0;
    border-radius: 10px;
    padding: 7px;
    color: #030303;
}
input:focus{
    background: #cedbfc;
    zoom:108%;
}
.price input{
    width: 20%;
}
#total{
    background: #e491ad;
    padding: 5px 2px;
    border-radius: 4px;
}
#total::before{
    content: 'Total: ';
}
button{
    width: 100%;
    height: 30px;
    border: none;
    cursor: pointer; /*show hand de la souris*/
    color: #f9f7f7;
    border-radius: 20px;
    background: #1f62c6;
    transition: 0.2s;
}
button:hover{
    background: #6ca7ff;
    color: #fff;
    letter-spacing: 1px;
}

button:active{
    background:#1f62c6 ;
    zoom: 105%;
}

.btn_search{
    display: flex;
    justify-content: space-between;
}
.btn_search button{
    width: 45%;
}
table{
    width: 100%;
    text-align: center;
    margin: 10px 0;
}
table th{
     text-transform: uppercase ; /* make text majuscule */
}
th,td{
    padding: 5px;
}
#deleteall{
    margin: 20px 0;
}